/*! normalize-oldies.css v.8.0.0  */
/*  https://github.com/juytter/normalize-oldies-css | MIT License */

/**
* 1. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using `em` units.
* 2. Prevent adjustments of font size after orientation changes in IE
*/
html {
    font-size: 100%;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
}

/*
 * Corrects `block` display not defined in IE9- and Firefox 3.
 * Add the correct display in Edge, IE, and Firefox.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
    display: block;
}

/*
 * Corrects `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
progress,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
    display: none;
    height: 0;
}

/**
* Remove gaps in links underline in iOS 8+ and Safari 8+.
*/
a {
    -webkit-text-decoration-skip: objects;
}

/*
 * Addresses styling not present in Safari 5, Chrome Android 4.3
 */
dfn {
    font-style: italic;
}

/*
 * Addresses styling not present in IE 6/7/8/9.
 */
mark {
    background-color: #ff0;
    color: #000;
}

/*
 * Corrects list images handled incorrectly in IE 7.
 */
nav ul,
nav ol {
    *list-style: none;
    *list-style-image: none;
}

/*
 * 1. Removes border when inside `a` element in IE 10- and Firefox 3.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
    border: 0;
    /* 1 */
    -ms-interpolation-mode: bicubic;
    /* 2 */
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
    overflow: hidden;
}

/*
 * Addresses margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 * Add the correct margin in IE 8.
 * see. https://github.com/necolas/normalize.css/pull/262
 */
figure {
    margin: 1em 40px;
}

/**
 * Add the correct box sizing in Firefox.
 */
hr {
    -moz-box-sizing: content-box;
}

/*
 * Corrects margin displayed oddly in IE 6/7.
 */
form {
    margin: 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 * NOTE. normalize v.4+ set ‘abbr’ to ‘text-decoration:underline dotted’ which  does not work with old browers.
 */

abbr[title] {
    text-decoration: none;
    border-bottom: 1px dotted;
}

/*
  * 1 Correct color not being inherited. Known issue: affects color of disabled elements.
 * 2. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    /* 1 */
    vertical-align: baseline;
    /* 2 */
    *vertical-align: middle;
    /* 2 */
}

/*
 * Addresses Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
    line-height: normal;
}

/**
* Removes inner spacing in IE 7 without affecting normal text inputs. Known issue: inner spacing remains in IE 6.
*/
button,
html [type="button"],
[type="reset"],
[type="submit"] {
    *overflow: visible;
}

/*
* Removes excess padding in IE7. Known issue: excess padding remains in IE 6.
*/
[type="checkbox"],
[type="radio"] {
    *height: 13px;
    *width: 13px;
}

/*
 * Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome (include `-moz` to future-proof).
 */
[type="search"] {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

/**
* Corrects alignment displayed oddly in IE 6/7.
*/
legend {
    *margin-left: -7px;
}